<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/ff399d11-88d7-4783-a7a7-37c6dbf2a17b/resourcegroups/myvmsspublish2/providers/Microsoft.ContainerRegistry/registries/SSRDataAccess20240621140454</ResourceId>
    <ResourceName>SSRDataAccess20240621140454</ResourceName>
    <ResourceGroup>myvmsspublish2</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>ssrdataaccess20240621140454.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>